<div class="user-sub-community-item flex-row">
    <div class="thumbnail">
        <img src={{community.thumbnail}} alt={{community.name}}>
    </div>
    <div class="community-info flex-col">
        <div class="info">
            <div class="title">{{community.name}}</div>
            <div class="sub-title">
                {{community.members}} thành viên - {{community.topics}} bài viết
            </div>
        </div>

        <div class="button-container">
            {{d-button class="btn-danger" icon="sign-out-alt" label="f247_sub_community.leave"}}
        </div>
    </div>
</div>